<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br>
        <h1>Galardones</h1>
        <div class="row">
            
            <div class="col-4">
                <p>
                    <img src="assets/medal/oro.png" width="30px">
                    XX Certamen Nacional de Bandas de Música de Campo de Criptana (Ciudad Real) en agosto de 1993
                </p>
                <p>
                    <img src="assets/medal/oro.png" width="30px">
                    IV Certamen Nacional de Bandas de Música "Villa de Leganés" (Madrid) en junio de 1994
                </p>
                <p>
                    <img src="assets/medal/oro.png" width="30px">
                    Mención de Honor en la Segunda Sección del VI Certamen Internacional de Bandas de La Sénia (Tarragona) en abril de 2012
                </p>
                <p>
                    <img src="assets/medal/oro.png" width="30px">
                    Primera Sección del XXV Certamen Nacional de Bandas de Música "Ciudad de Murcia" en noviembre de 2015
                </p>
                <p>
                    <img src="assets/medal/oro.png" width="30px">
                    71º Certamen Nacional de Bandas de Música "Ciudad de Cullera" en abril de 2018
                </p>
            </div>
            <div class="col-4">
                <p>
                    <img src="assets/medal/plata.png" width="30px">
                    I Certamen Regional de Bandas de Música Civiles Amateur de El Provencio (Cuenca) en agosto de 1984
                </p>
                <p>
                    <img src="assets/medal/plata.png" width="30px">
                    VI Certamen Nacional de Bandas e Música "Villa de Leganés" (Madrid) en junio de 1996
                </p>
                <p>
                    <img src="assets/medal/plata.png" width="30px">
                    III Certamen Nacional de Bandas de Música de Castilla-La Mancha (Campo de Criptana, Ciudad Real) en julio de 1997
                </p>
                <p>
                    <img src="assets/medal/plata.png" width="30px">
                    Sección Primera del X Certamen Nacional de Bandas de Música "Ciudad de Murcia" en noviembre de 2000
                </p>
                
            </div>
            <div class="col-4">
                <p>
                    <img src="assets/medal/bronce.png" width="30px">
                    Sección Segunda el Certamen Internacional de Bandas de Música "Ciudad de Valencia" en 1997
                </p>
                <p>
                    <img src="assets/medal/bronce.png" width="30px">
                    XXVI Certamen Nacional de Bandas de Música de Campo de Criptana (Ciudad Real) en 1999
                </p>
                <p>
                    <img src="assets/medal/bronce.png" width="30px">
                    Segunda Sección del Certamen Internacional de Bandas de Música "Ciudad de Valencia" en junio de 2002
                </p>
                <p>
                    <img src="assets/medal/bronce.png" width="30px">
                    Primera Sección del XIV Certamen Nacional de Bandas de Música "Ciudad de Murcia" en noviembre de 2004
                </p>
            </div>
        </div>
    </div>
    
    
    
</body>
</html>