<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <div class="card text-center">
        <div class="card-header h1 text-center">
            Tu perfil <i class="fa fa-user-circle fa-spin" aria-hidden="true"></i>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{perfil.nombre}} {{perfil.apellidos}}</h4>
            <p class="card-text">E-mail: {{perfil.email}}</p>
            <hr>
            <button class="btn btn-warning" (click)="mostrarEditar=!mostrarEditar">Editar usuario</button> &nbsp;
            <button class="btn btn-danger" (click)="mostrarEliminar=!mostrarEliminar">Eliminar usuario</button>
            <p *ngIf="mensaje" class="alert"><b>{{mensaje}}</b></p>
        </div>
    </div>
    <div class="card text-center" *ngIf="mostrarEditar">
        <div class="card-header h4 text-center">Editar tu perfil</div>
        <div class="card-body">
            <form [formGroup]="formPerfil" (submit)="editarPerfil()">
                <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre" ><br>
                <input class="form-control" type="text" formControlName="apellidos" placeholder="Apellidos"><br>
                <input class="form-control" type="password" formControlName="password" placeholder="Password"><br>
                <input class="form-control" type="password" formControlName="password2" placeholder="Repite Password"><br>
                <input class="form-control" type="text" formControlName="email" placeholder="E-mail"><br>
                <button class="btn btn-success" type="submit" [disabled]="!formPerfil.valid">Editar</button> &nbsp;
                <button class="btn btn-dark" (click)="mostrarEditar=!mostrarEditar">Cancelar</button>
            </form>
            
        </div>
    </div>
    <div class="card text-center" *ngIf="mostrarEliminar">
        <div class="card-header h4 text-center">Para eliminar tu perfil introduce tu e-mail</div>
        <div class="card-body">
            <input class="form-control" type="text" [(ngModel)]="borrarEmail" placeholder="E-mail"><br>
            
            <button class="btn btn-danger" (click)="eliminarUsuario()" [disabled]="borrarEmail!=perfil.email">Eliminar Usuario</button> &nbsp;
            <button class="btn btn-dark" (click)="mostrarEliminar=!mostrarEliminar">Cancelar</button>
        </div>
    </div>
</body>
</html>
