<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director</title>
</head>
<body>
    
    <div class="container">
        <br>
        <h2>Jose Enrique Martínez Esteve</h2>
        <div class="row">
            <div class="col-md-6">
                <p>Natural de Aiacor (Valencia). Finaliza sus estudios de clarinete en el Conservatorio Superior de Música de Castellón,
                     consiguiendo las máximas calificaciones. Realiza dos cátedras extraordinarias con el prestigioso clarinetista Joan Enric Lluna. 
                     Amplia su formación con los clarinetistas nacionales e internacionales más prestigiosos, destacando a: Fabrizio Meloni, Anthony Pay, 
                     Josep Fuster, Joan Querol, José Ricardo Forner, Daniel Labrada, Enrique Pérez, Rafael Albert, José Vicente Herrera, Eric Hoeprich, Walter Boeykens y Fabio di Cassola. 
                     Como instrumentista ha sido miembro de varias formaciones profesionales y como profesor ejerce desde el año 1998 en distintas escuelas de música y en el Conservatorio Profesional Municipal Maestro Ponce de “Chella”.
                </p>
            </div>
            <div class="col-md-6" id="img"><img src="assets/director.jpg" alt="director"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Desde el año 2005 estudia Dirección de Banda con José Rafael Pascual Vilaplana, instrumentación con Ramón García Soler y composición con Norman Milanés Moreno, 
                    además, amplia su formación con los Maestros: Teodoro Aparicio Barberán, Henrie Adams, Johan de Meij, Alex Schillings, Franco Cesarini, Jan Cober y Eugene Corporon. 
                    En el año 2010 participa en la “TKWO Conducting Master Class” en la Città di Collegno con los Maestros: 
                    Lorenzo Della Fonte y Douglas Bostock en el que fue seleccionado para dirigir a la prestigiosa Tokio Kosei Wind Orchestra  y en el año 2011 fue finalista del 1er Curso-Concurso de Dirección de Orquesta impartido por D. José Miguel Rodilla. 
                </p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6" id="img"><img src="assets/director3.jpg" alt="director"></div>
            <div class="col-md-6">
                <p>En la actualidad es Director de la Escuela Municipal de Música y Danza de Mota del Cuervo por Concurso-Oposición y de la banda de la Asociación Musical Moteña ( Cuenca ), 
                    con la que ha ganado el primer premio y Mención de Honor en el VI Certamen Internacional de Bandas de Música Vila de la “Sénia”, 
                    con esta formación grabó un CD con Música del Maestro Norman Milanés, y  en este ámbito,  en el año 2010, recibe el premio Euterpe a la mejor grabación bandística de la Comunidad Valenciana con la Societat Artístic Musical de Alcàntera de Xúquer ( Valencia ) 
                    con la que fue Director titular del año 2006 al 2010. Más recientemente, ha sido becado por la Consellería de Gobernación Valenciana para realizar los cursos en la “Berklee Valencia” de Dirección de Bandas Sinfónicas y Repertorio con los Maestros: 
                    Rafael Sanz Espert, Gregory Fritze, Bernardo Adam Ferrero, Teodoro Aparacio Barberán y Salvador Brotons. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Como director invitado ha dirigido: Banda Municipal de Música "Fernando Guerrero" de los Palacios y Villafranca, el Coro Escolanía de Los Palacios, La Banda Municipal de Porcuna, 
                    la Unión Musical Santa Cecilia de Canals, Banda Provincial de Pinar de Río ( Cuba ) y Banda Nacional de Cuba, donde le entregaron la réplica de la batuta del “Maestro Guillermo Tomás Boufartigue” ( máximo galardón que otorga esta institución ), 
                    asimismo, tiene invitaciones para dirigir el próximo año la Orquesta Sinfónica Nacional de Cuba y ser miembro del jurado del 50 Concurso Internacional Lírico Ernesto Leucona.
                </p>          
            </div>
        </div>
    </div>
    
</body>
</html>