<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
</head>
<body>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header h1 text-center">Datos Personales</div>
            <div class="card-body">
                <h3>Pablo Flores Castellano</h3>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Domicilio: C/Ramón y Cajal Nº14</li>
                            <li>Población: Mota del Cuervo (Cuenca), 16630</li>
                            <li>DNI: 06294603-D</li>
                            <li>Fecha de Nacimiento: 20/11/1999</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>E-mail:
                                <ul>
                                    <li>pabloflorescastellano@hotmail.com</li>
                                    <li>pabloflorescastellano@gmail.com</li>
                                </ul>
                            </li>
                            <li>Teléfono: 608881938</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">   
            <div class="card-header h1 text-center">
                <div class="row">
                    <div class="col-6">Formacion</div>
                    <div class="col-6">Idiomas</div>
                </div> 
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Técnico Superior en Administración de Sistemas en Red</li>
                            <li>Técnico Superior en Desarrollo de Aplicaciones Web</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Inglés: B1 por Cambridge English Language Assessment</li>
                        </ul>
                    </div>
                </div>     
            </div>
        </div>  
        <div class="card">
            <div class="card-header h1 text-center">Experiencia Laboral</div>
            <div class="card-body">
                <ul>
                    <li>3 meses de prácticas en Copermatica S.L.</li>
                    <li>3 meses de prácticas en Cojali S.L.</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header h1 text-center">Otros Datos</div>
            <div class="card-body">
                <ul>
                    <li>Permiso de Conducir B y vehículo propio</li>
                    <li>Movilidad Geográfica</li>
                    <li>Socio de la Asociación Musical Moteña desde el año 2017</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>