p{
    color: black;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.image-fondo{
    background-image: url("../../../assets/banda2.jpg");
    background-size: cover;
}
.cabecera{
    color: #fff;
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
  }