<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="image-fondo cabecera">
                <h1>Historia de la AMM</h1>
            </div>
            
            <p>La Asociación Musical Moteña fue fundada el 23 de abril de 1981, pero su Banda de Música no hizo su primera aparición pública hasta finales de marzo de 1983, bajo la dirección del maestro don Jaime Charco Izquierdo, quien estuvo al frente de la misma desde su fundación hasta noviembre de 2006. La Banda de Música de la AMM se formó inicialmente con 40 alumnos con edades comprendidas entre los 10 y 16 años, excepto 6 adultos de más de 40 años pertenecientes en su mayoría a una formación musical existente en Mota con anterioridad y ya extinta. Todos ellos emprendieron esta aventura llenos de ilusión y ganas de trabajar en este ambicioso proyecto, el cual ha alcanzado cotas nunca imaginadas gracias en gran parte a la ayuda de toda la población y las instituciones moteñas.</p>
            <p>Desde su fundación, la Banda de Música de la Asociación Musical Moteña viene participando en diversos festivales, conciertos, certámenes, intercambios, procesiones, desfiles... por toda la geografía regional castellano-manchega, pero también por otras provincias españolas como Madrid, Valencia, Valladolid, Alicante, Murcia, etc.</p>
            <p>Forma parte del Programa de Artes Escénicas y Música "TALIA" organizado por la Excelentísima Diputación Provincial de Cuenca llevando su música por todos los rincones de la provincia y ha participado en los Encuentros Regionales organizados por la Junta de Comunidades de Castilla-La Mancha. Hay que destacar también su participación en la prestigiosa Semana Santa de Cuenca, donde hizo su debut en el año 1985, y desde 1990 hasta la actualidad. Además, la Banda de la AMM tiene el honor de ser una de las primeras en actuar en el Teatro Auditorio de Cuenca.</p>
            <p>En la actualidad, su Banda de Música está compuesta por alrededor de 100 músicos y al frente de la misma se encuentra don José Enrique Martínez Esteve, director titular desde diciembre del año 2006. La Asociación y su Banda de Música siguen creciendo año a año, embarcándose en nuevos e ilusionantes proyectos que permiten el crecimiento musical y personal de sus músicos a nivel individual y grupal, subiendo su nivel más y más cada temporada.</p>
            
        </div>
    </div>
    
    
</body>
</html>
